@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}



.btn {
  /* 'active' utility class ti muche felun, eti tailwind e nei */
  @apply bg-gray-200 rounded-xl font-bold duration-200 text-black cursor-pointer px-4 py-3 relative z-10;
  
  /* Hover effects */
  @apply hover:shadow-2xl hover:shadow-white hover:scale-105;
  
  /* Active (click) effects: 'active:' variant use korun */
  @apply active:bg-white active:scale-[1.01];
}